body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.header-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  animation: fadeIn 2s ease-in-out;
}

.container {
  position: absolute;
  right: 32px;
  left: 32px;
  top: 16px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slideIn 1.5s ease-out;
}

.logo {
  width: 100px;
  height: auto;
  opacity: 0;
  animation: fadeInLogo 2s forwards;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu-link {
  color: white;
  text-decoration: none;
  margin-left: 16px;
  opacity: 0;
  animation: fadeInLinks 1s ease-in-out forwards;
  animation-delay: 1s;
}

.menu-link:hover {
  text-decoration: underline;
  color: lightblue;
}

.headline {
  position: absolute;
  left: 50px;
  top: 300px;
  color: white;
  font-size: 70px;
  width: 500px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  opacity: 0;
  animation: fadeInHeadline 2s ease-in-out forwards;
  animation-delay: 1s;
}

.blue {
  color: lightblue;
}

.description-section {
  display: flex;
  gap: 50px;
  padding: 30px 100px;
  align-items: flex-start;
  opacity: 0;
  animation: fadeInSection 2s ease-in-out forwards;
  animation-delay: 2s;
}

.button {
  background-color: white;
  padding: 10px 30px;
  color: black;
  border-radius: 8px;
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.2s ease-in-out;
  animation: bounceIn 1s ease-in-out;
}

.button:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
}

.half-width {
  width: 50%;
}

h2 {
  text-align: center;
  font-size: 45px;
  opacity: 0;
  animation: fadeInTitle 2s ease-in-out forwards;
  animation-delay: 2.5s;
}

.quarter-width {
  width: 25%;
}


@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes slideIn {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes fadeInLogo {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeInLinks {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInHeadline {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInSection {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes bounceIn {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  60% {
      transform: scale(1.1);
      opacity: 1;
  }
  100% {
      transform: scale(1);
  }
}

@keyframes fadeInTitle {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
